<div style="display: flex; justify-content: center; margin-bottom: 50px;">
    <div style="color: lightslategray; width: 750px;">
        <p>
            It's year 3027. 
        <p>
            People have learned how to explore space. They are building ships capable to reach distant stars. They can live in those ships down there - in the dark, endless space.
            However, peoples' bold dreams about colonizing and ruling galaxies have vanished soon after their first attempt to travel between stars took place.
            The Universe turned out to be not-that-empty and not-that-calm, as people had thought, when they had been looking at the night skies from Earth. 
        </p>
        <p style="color: darkslategray; text-align: center;">
            ✧ &nbsp;&nbsp;&nbsp; ✧ &nbsp;&nbsp;&nbsp; ✧
        </p>
        <p>
            From exploring Space people have learned one thing: there is very few worlds like theirs, very few like their life-giving Earth. 
            Sadly, most of the systems are completely inhabitable. At least - not habitable for humans...
        </p>
        <p>
            Over the years people have visited thousands of stars, but they have found only eleven (yes, only eleven) systems with planets similar to Earth, planets where humans could live.
            These eleven systems have been called Plateaus. Hard to say why. Probably because of the fact, that the evil darkness of the void simply cannot crawl up there.  
            It's a known truth, that when the human ship finally reaches a Plateau its commander can finally relax, as it is now not likely that his ship will disapear without a trace. 
            And, as you can guess, it is never that obvious outside of the Plateaus...
        </p>
        <p style="color: darkslategray; text-align: center;">
            ✧ &nbsp;&nbsp;&nbsp; ✧ &nbsp;&nbsp;&nbsp; ✧
        </p>
        <p>
            Even though traveling in space is not safe, even though ships somehow disapear in this absolutely silent, and absolutely empty void, 
            people need to travel, they need to trade and transport, they need to explore. Not everyone is brave enough to leave a Plateau, to fly into deep space.
            Actually there's very few pilots doing this for living. Even though you can earn a lot by doing this, you can actually lose way more... 
        </p>
        <p>
            People living their lives only inside the Plateaus, they don't really give a damn about such pilots. They don't even meet them once, throughout whole their lives.
            But all of them, no matter who they are, they know precisely how to call them in their worried late night thoughts... They call them: Star Birds.
        </p>
    </div>
</div>