<div style="text-align: right;">
    <strong>Flipshot7</strong>&nbsp;<small>Class 3 Trader Vessel</small>
    | Speed: 
    {{spaceshipState.speed}}
    <span *ngIf="safeDockingSpeed()" class="safe">safe-orbiting-speed</span>
    <span *ngIf="spaceshipState.speed > 10 || spaceshipState.speed < -10" class="danger">speeding</span>
    | Fuel: <span [class.danger]="spaceshipState.fuel < 25000">{{spaceshipState.fuel | number:'1.0-0'}}u</span>
    | Cargo: {{spaceshipState.cargo.length}}t <span *ngIf="spaceshipState.cargo.length === spaceshipState.cargoCapacity">(full)</span>
    | Credits: <span [class.danger]="spaceshipState.credits === 0">${{spaceshipState.credits | number:'1.2-2'}}</span>
    <br>
    <small>coords:({{ spaceshipState.x}}, {{spaceshipState.y}})</small>
</div>
<div #canvasContainer style="position: absolute; top: 0; left: 0; height: 100vh; width: 100vw; z-index: -1;">

</div>
<div style="text-align: center;">
    <p>
        {{spaceshipState.shipStatus}}
    </p>
    <app-orbit-services *ngIf="spaceshipState.orbiting && !spaceshipState.crashed" [spaceshipState]="spaceshipState"></app-orbit-services>
    <p *ngIf="spaceshipState.crashed" (click)="restart()" style="text-decoration: underline; cursor: pointer;">Restart</p>
</div>
