<div style="position: absolute; top: 8px; left: 8px;">
    <strong>Star Birds ✧</strong> v 1.0
</div>
<div *ngIf="!gameVisible">
    <div *ngIf="!introVisible" class="animated zoomIn slower" (click)="startIntro()" style="cursor: pointer;">
        <div style="display: flex; justify-content: center; margin-top: 200px;">
            <div style="border: 1px solid darkslategray; border-radius: 5px; padding: 15px 100px; color: darkslategray; font-size: 48px; font-weight: normal; letter-spacing: .5rem;">
                Star ✧ Birds
            </div>
        </div>
        <div style="text-align: center; color: darkslategray; margin-top: 10px;">
            <p><small><i>The most addictive space adventure!</i></small></p>
            <p><small>✧ CLICK TO START ✧</small></p>
        </div>
    </div>
    <div *ngIf="introVisible"  class="animated slideInUp slow" style="margin-top: 30px;">
        <app-intro></app-intro>
        <div style="display: flex; justify-content: center;">
            <div (click)="startGame()" style="cursor: pointer; border: 1px solid darkslategray; border-radius: 5px; padding: 15px 100px; color: darkslategray; font-size: 18px; letter-spacing: .3rem;">
                Let the story begin
            </div>
        </div>
        <div style="text-align: center; color: darkslategray; margin-top: 10px;">
            <p><small>Star Birds ✧ <i>The most addictive space adventure!</i></small></p>
        </div>
    </div>
</div>
<div *ngIf="gameVisible" class="animated fadeIn slower">
    <app-game [nick]="nick"></app-game>
</div>